.article {
  display: grid;
  grid-template-areas: 'heading image'
    'content content';
}

.heading {
  grid-area: heading;
}

.image {
  grid-area: image;
  text-align: right;
}

.content {
  grid-area: content;
}
