.box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0.5rem;
}

.box::after {
  position: absolute;
  top: 10%;
  right: 0;
  width: 1px;
  height: 80%;
  background: #3A3A3A;
  content: '';
}

.box:last-child::after {
  width: 0;
}

.box > h5 {
  margin: 0;
  font-size: 0.7rem;
}

.box > span {
  font-size: 2rem;
  text-align: right;
}
